<section class="l-main">
  <div class=" container section ">
    <div class="row about__container  bd-grid">
      <img src="assets/img/about.jpg" alt="" class="about__img">
      <div class="col-6 col-ms-12 md-12 about__data mx-5 my-3">
        <span class="section-subtitle about__initial">About us</span>
        <h2 class="section-title about__initial">We cook the best <br> tasty food</h2>

        <p> We cook the best food in the entire city, with excellent customer service, the best meals and at the best
          price, visit us.</p>

        <a href="#" class="button">Explore history</a>
      </div>

    </div>
  </div>
</section>